<div class="counters-grid">
    <div class="counter-card card-1">
        <div class="counter-label">Overall</div>
        <div class="counter-value">{{ data.overall }}</div>
    </div>
    <div class="counter-card card-2">
        <div class="counter-label">Last 30 Mins</div>
        <div class="counter-value">{{ data.last30Mins }}</div>
    </div>
    <div class="counter-card card-3">
        <div class="counter-label">Last 15 Mins</div>
        <div class="counter-value">{{ data.last15Mins }}</div>
    </div>
    <div class="counter-card card-4">
        <div class="counter-label">Last 5 Mins</div>
        <div class="counter-value">{{ data.last5Mins }}</div>
    </div>
</div>
